html{
  box-sizing: border-box;
  overflow-x: hidden;
  max-width: 100%;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body{
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
  margin: 0;
}
.grid-container{
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 100vh 100vh 100vh 100vh;
  margin: 0;
}
/* Top Section - Top content */
.top-section{
  grid-row: 1/2;
  grid-column: 1/2;
  background-image: url(/images/background-mirrored.svg);
  background-size: 100% 100%;
}
.nav-display{
  height: 8vh;
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  width: 100%;
  background: #707070;
}
.my-logo{
  margin-left: 20vw;
  height: 7vh;
}
.nav-display a{
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 2.2rem;
  margin-left: 2vw;
}
.links-bar{
  list-style: none;
  margin-left: 13vw;
}
.links-bar li{
  display: inline;
  color: white;
  font-size: 1.7rem;
  margin-right: 3vw;
}
.links-bar a{
  font-size: inherit;
  font-weight: normal;
  margin-left: 0;
}
.greeting-block{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 30vh;
  width: 60vw;
  margin-top: 35vh;
  margin-left: 20vw;
}
.greeting-content{
  display: inline-block;
}
.hello-content{
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}
.greeting-image{
  width: 37%;
  margin-left: 9vw;
}
.contact-button, .get-resume-button{
    width: 46%;
    height: 6vh;
    border-radius: 15px;
    font-size: 1.7rem;
    background: #ffffff;
    padding: 0;
    border: 1px solid black;
    margin-top: 3vh;
}
.get-resume-button{
  margin-left: 7%;
  background: #854fee;
  border: none;
  color: #ffffff;
}
.get-resume-button:focus, .contact-button:focus { 
  outline: none;
}
/* About Section - About us block */
.about-section{
  grid-column: 1/2;
  grid-row: 2/3;
  background-image: url(/images/background-mirrored.svg);
  background-size: 100% 100%;
}
.about-wrapper{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 30vh;
  width: 60vw;
  margin-top: 35vh;
  margin-left: 20vw;
}
.about-image{
  width: 35%;
  margin-right: 8vw;
}
.about-header{
  margin: 0;
  font-size: 2.5rem;
}
.about-content{
  font-size: 1.5rem;
}
.about-text{
  margin-top: 5vh;
}
/* Projects Section - Projects block*/
.projects-section{
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  flex-flow: row wrap;
  background-image: url(/images/background-mirrored.svg);
  background-size: 100% 100%;
}
.projects-header{
  font-size: 2.5rem;
  margin: 0;
  width: 100%;
}
.projects-description{
  flex: 0 0 55vw;
}
.projects-wrapper{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 0 0 60vw;
  height: 65vh;
  margin-top: 17.5vh;
  margin-left: 20vw;
}
.project-chat, .project-hotel, .project-game, .project-portfolio{
  display: inline-block;
  flex: 0 0 22vw;
  height: 22vh;
  margin-bottom: 3vh;
  box-shadow: 0 0 2vh #707070;
  border-radius: 10px;
}
.project-hotel, .project-portfolio{
  margin-left: 5vw;
}
.project-game, .project-portfolio{
  margin-bottom: 0;
}
.project-chat img, .project-hotel img, .project-game img , .project-portfolio img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.chat-hover, .hotel-hover, .game-hover, .portfolio-hover{
  display: none;
  position: relative;
  top: -22.5vh;
  left: 0;
  padding: .5vw;
  background: #854fee;
  border-radius: 10px;
  height: 23vh;
  opacity: .95;
  color: #ffffff;
}
.chat-hover ul, .hotel-hover ul, .game-hover ul, .portfolio-hover ul{
  list-style-type: none;
}
.chat-hover li, .hotel-hover li, .game-hover li, .portfolio-hover li{
  display: inline-block;
  margin-right: .4vw;
  margin-bottom: .4vw;
  padding: 3px;
  background: #ffffff;
  color: #854fee;
  border-radius: 5px;
}
.chat-hover .expand-chat-hover, .hotel-hover .expand-hotel-hover, .game-hover .expand-game-hover, .portfolio-hover .expand-portfolio-hover{
  width: 5vh;
  position: relative;
  top: -8vh;
  left: 9.5vw;
  filter: invert(100%) sepia(27%) saturate(0%) hue-rotate(189deg) brightness(113%) contrast(100%);
}
.hotel-hover .expand-hotel-hover, .game-hover .expand-game-hover, .portfolio-hover .expand-portfolio-hover{
  top: -4.5vh;
}
.expand-chat-hover:hover, .expand-hotel-hover:hover, .expand-game-hover:hover, .expand-portfolio-hover:hover{
  cursor: pointer;
}
/*Modal CSS*/
.modal{
  display: none; 
  position: fixed; 
  z-index: 1; 
  overflow: auto; 
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.7);

}
.modal-content{
  margin-top: 25vh;
  margin-left: 20vw;
  width: 60vw; 
  height: 50vh; 
  padding: 3vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  background: #ffffff;
  border-radius: 50px;
  position: relative;
}
.modal-close{
  position: relative;
  width: 5%;
  left: 45%;
  top: -10%;
}
.modal-title{
  flex: 0 0 50%;
  margin-right: 2%;
}
.modal-description{
  flex: 0 0 50%;
  margin-right: 2%;
}
.modal-technologies{
  list-style-type: none;
  flex: 0 0 50%;
  margin-right: 2%;
  padding: 0;
}
.modal-technologies li{
  display: inline-block;

}
.modal-image{
  width: 48%;
  position: relative;
  top: -13vh;
}
.first-button, .second-button{
  width: 18%;
  height: 13%;
  border-radius: 10px;
  background: #854fee;
  color: #ffffff;
  margin-right: 2vw;
  position: absolute;
  border: none;
  bottom: 5vh;
}
.second-button{
  left: 16vw;
}
.modal button:focus{
  outline: none;
}
/* Contact Section - Contact block & footer*/
.contact-section{
  grid-column: 1/2;
  grid-row: 4/5;
  background-image: url(/images/background-mirrored.svg);
  background-size: 100% 100%;
}
.contact-content{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 60vw;
  height: 60vh;
  margin-top: 20vh;
  margin-left: 20vw;
}
.contact-header{
  font-size: 2.5rem;
  margin: 0;
  margin-bottom: 5vh;
}
.contact-form{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 65%;
}
.name-input, .email-input, .textarea{
  padding: 1vh;
  height: 6vh;
  width: 100%;
  max-width: 100%;
  color: #707070;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 .5vh #707070;
  margin-bottom: 2.5vh;
}
.textarea{
  height: 10vh;
}
input:focus, textarea:focus{
  outline: none;
}
.submit-input{
  background: #854fee;
  color: #ffffff;
  padding: 1vh;
  width: 20%;
  height: 5vh;
  border: none;
  border-radius: 20px;
}
.footer{
  width: 100%;
  height: 6vh;
  background: #707070;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  bottom: 0;
  color: #ffffff;
  padding-left: 20vw;
}
.footer img{
  width: 1vw;
}
.footer .linkedin-logo, .footer .github-logo, .footer .mail-logo{
  width: 1.5vw;
  margin-right: 1vw;
}
.footer .linkedin-logo{
  margin-left: 40vw;
}
.footer .mail-logo{
  margin:0;
}