html{
  box-sizing: border-box;
  overflow-x: hidden;
  max-width: 100%;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body{
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
  margin: 0;
}
.grid-container{
  display: grid;
  grid-template-columns: 20vw 60vw 20vw;
  grid-template-rows: 100vh 100vh 126vh 100vh;
  margin: 0;
}
/* Left- Right Effects System */
.nav-bar-left-effect{
  height: 8vh;
  position: fixed;
  top: 0;
  width: 100%;
  background: #707070;
  grid-column: 1/2;
  grid-row: 1/2;
}
.nav-bar-right-effect{
  height: 8vh;
  position: fixed;
  top: 0;
  width: 100%;
  background: #707070;
  grid-column: 3/4;
  grid-row: 1/2;
}
.home-left-effect{
  grid-row: 1/2;
  grid-column:1/2;
  background: url(images/left-side-background-1920.jpg);
  height: 100vh;
}
.home-right-effect{
  grid-row: 1/2;
  grid-column:3/4;
  background: url(images/right-side-background-1920.jpg);
  height: 100vh;
}
.about-left-effect{
  grid-row: 2/3;
  grid-column:1/2;
  background: url(images/left-side-background-1920.jpg);
  height: 100vh;
}
.about-right-effect{
  grid-row: 2/3;
  grid-column:3/4;
  background: url(images/right-side-background-1920.jpg);
  height: 100vh;
}
.projects-left-effect{
  grid-row: 3/4;
  grid-column: 1/2;
  height: 126vh;
  background: url(images/projects-background/projects-left-top-half.jpg), url(images/projects-background/projects-left-bottom-half.jpg);
  background-position: top, bottom;
  background-repeat: no-repeat no-repeat;
}
.projects-right-effect{
  grid-row: 3/4;
  grid-column: 3/4;
  height: 126vh;
  background: url(images/projects-background/projects-right-top-half.jpg), url(images/projects-background/projects-right-bottom-half.jpg);
  background-position: top, bottom;
  background-repeat: no-repeat no-repeat;
}
.contact-left-effect{
  grid-row: 4/5;
  grid-column:1/2;
  background: url(images/left-side-background-1920.jpg);
  height: 100vh;
}
.contact-right-effect{
  grid-row: 4/5;
  grid-column:3/4;
  background: url(images/right-side-background-1920.jpg);
  height: 100vh;
}
/* Top Section - Top content */
.top-section{
  grid-row: 1/2;
  grid-column: 2/3;
  background: url(images/central-part-background-1920.jpg);
}
.nav-display{
  height: 8vh;
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  width: 100%;
  background: #707070;
}
.my-logo{
  margin-left: 2vw;
  height: 7vh;
}
.nav-display a{
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 2.2rem;
  margin-left: 2vw;
}
.links-bar{
  list-style: none;
  margin-left: 13vw;
}
.links-bar li{
  display: inline;
  color: white;
  font-size: 1.7rem;
  margin-right: 3vw;
}
.links-bar a{
  font-size: inherit;
  font-weight: normal;
  margin-left: 0;
}
.greeting-block{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 30vh;
  margin-top: 35vh;
}
.greeting-content{
  display: inline-block;
}
.hello-content{
  font-size: 2rem;
  margin-left: 2vw;
  margin-top: 0;
  margin-bottom: 0;
}
.greeting-image{
  width: 35%;
  margin-left: 8vw;
}
.contact-button, .get-resume-button{
    width: 42%;
    height: 6vh;
    border-radius: 15px;
    font-size: 1.7rem;
    background: #ffffff;
    margin-left: 2vw;
    padding: 0;
    border: 1px solid black;
    margin-top: 3vh;
}
.get-resume-button{
  margin-left: 2.2vw;
  background: #854fee;
  border: none;
  color: #ffffff;
}
.get-resume-button:focus, .contact-button:focus { 
  outline: none;
}
/* About Section - About us block */
.about-section{
  grid-column: 2/3;
  grid-row: 2/3;
  height: 100vh;
  background: url(images/central-part-background-1920.jpg);
}
.about-wrapper{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 30vh;
  margin-top: 35vh;
}
.about-image{
  width: 35%;
  margin-right: 8vw;
}
.about-header{
  margin: 0;
  font-size: 2.5rem;
}
.about-content{
  font-size: 1.5rem;
}
.about-text{
  margin-top: 5vh;
}
/* Projects Section - Projects block*/
.projects-section{
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  flex-flow: column nowrap;
  background: url(images/projects-background/central-part-projects-top-half.jpg), url(images/projects-background/central-part-projects-bottom-half.jpg);
  background-position: top, bottom;
  background-repeat: no-repeat no-repeat;
}
.projects-header{
  font-size: 2.5rem;
  margin-top: 0;
}
.project-chat, .project-website, .project-game, .project-portfolio{
  border: #D3D3D3 solid 2px;
  margin-bottom: 1.66rem;
  height: 26vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
}
.chat-details, .website-details, .game-details, .portfolio-details{
  width: 70%;
  padding: 1.5vw;
  display: inline-block;
  height: 26vh;
}
.project-chat-header, .project-website-header, .project-game-header, .project-portfolio-header{
  margin-top: 0;
  display: inline-block;
  font-size: 1.6rem;
}
.project-chat .chat-source, .project-game .game-source, .project-portfolio .portfolio-source{
  width: 1.2vw;
  filter: invert(35%) sepia(90%) saturate(3330%) hue-rotate(244deg) brightness(96%) contrast(95%);
  margin-left: 1.5vw;
}
.project-chat .chat-demo, .project-website .website-demo, .project-game .game-download, .project-portfolio .portfolio-demo{
  width: 1.1vw;
  filter: invert(35%) sepia(90%) saturate(3330%) hue-rotate(244deg) brightness(96%) contrast(95%);
  margin-left: .5vw;
}
.project-website .website-demo{
  margin-left: 1.5vw;
}
.project-chat-details, .project-website-details, .project-game-details, .project-portfolio-details{
  margin-top: 0;
}
.project-chat-image, .project-game-image, .project-portfolio-image, .project-website-image{
  width: 35%;
}
.chat-details ul, .website-details ul, .game-details ul, .portfolio-details ul{
  list-style-type: none;
  padding: 0;
}
.chat-details li, .website-details li, .game-details li, .portfolio-details li{
  display: inline-block;
  background: #854fee;
  padding: .5vw;
  font-size: .9rem;
  color: #ffffff;
}
/* Contact Section - Contact block & footer*/
.contact-section{
  grid-column: 2/3;
  grid-row: 4/5;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: url(images/central-part-background-1920.jpg);
}
.contact-content{
  flex:0 0 100%;
}
.contact-header{
  font-size: 2.5rem;
  margin-top: 0;
}
.contact-form{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 70%;
}
.name-label{
  flex: 0 0 48%;
  display: inline-block;
  font-size: 1.2rem;
}
.email-label{
  flex: 0 0 48%;
  display: inline-block;
  margin-left: 4%;
  font-size: 1.2rem;
}
.name-input{
  flex: 0 0 48%;
  margin-top: 1%;
  color: #000000;
  background: #D3D3D3;
  border: none;
  height: 4vh;
  font-size: 1.1rem;
}
.email-input{
  flex: 0 0 48%;
  margin-left: 4%;
  margin-top: 1%;
  color: #000000;
  background: #D3D3D3;
  border: none;
  height: 4vh;
  font-size: 1.1rem;
}
.message-label{
  flex: 0 0 100%;
  font-size: 1.2rem;
  margin-top: 1%;
}
.textarea{
  flex: 0 0 100%;
  margin-top: 1%;
  color: #000000;
  background: #D3D3D3;
  border: none;
  font-size: 1.1rem;
}
.name-input:focus, .email-input:focus, .textarea:focus{
  outline: none;
}
.submit-input{
  font-size: 1.2rem;
  color: #854fee;
  margin-top: 2%;
  padding: 1vh;
  border: 2px solid #d3d3d3;
  background: #ffffff;
}
.submit-input:hover{
  background: #DCDCDC;
}
.footer{
  display: flex;
  flex-flow: row nowrap;
  height: 5vh;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.left-footer{
  display: inline-block;
  flex: 0 0 48%;
  font-size: 1.2rem;
}
.heart-img{
  width: 3%;
}
.right-footer{
  display: inline-block;
  flex: 0 0 48%;
  margin-left: 39%;
}
.right-footer img{
  width: 6%;
  margin-left: 2%;
}
